.head{
    height: 60px;
    width: 100%;
    background-color: rgb(250, 10, 1);

    display: flex;
    justify-content:space-between;
    position: sticky;
    top:0px;
    z-index:1;
    
}

body{
    margin: 0;
    padding: 0;
    height: 150vh;
    background-image: linear-gradient(
       to bottom right,
        blue,rgb(202, 48, 42),rgb(0, 255, 242)
    );
    background-color: #cccccc;


}

.head img{
    height: 50px;
    margin-left: 10px;
    
    padding: 4px;
   
}
.nav{
    
    display: flex;
    align-items: center;
 
    margin: 4px;
}
.nav a{
    padding: 2px;
    text-decoration: none;
    color: #524e4e;
    font-weight: 500;
    margin: 2px;
}
.nav input{
    border-radius: 6px;
    box-shadow: black;
    position: relative;
    right: 10px;
    
    
}
@media(max-width:590px){
#sear{
width:70px;
}


}
.boxc {
    height: 60px;
    background-color: rgba(10, 10, 10, 0.438);
    width: auto;
    color: red;
    display: flex;
    align-items: center ;
    justify-content: center;
    font-size: 40px;
    font-weight: 1000;
    font-family:
}
button{

    background-color: #524e4e00;
    border: 0;
    font-size: 20px;
    

}
.box{
    height: 100vh;
    width: auto;
    background-color: rgb(14, 13, 13);
    display: flex;
    justify-content: center;

}
.box video{

    position: relative;
    top: 30px;
    
}
img{
    border-radius: 100%;
}
#name{
    height: 60px;
    width: 100%;
    background-color: black;
    color: rgb(18, 253, 69);
    font-size: 50px;
}
#pa{
    font-size: 30px;
    position: relative;
    top: 50px;
    left: 0px;
    font-weight: 1000;
    display:flex ;
    justify-content: center;
    align-items:center ;
}
.p{
    background-color: #524e4e33;
    font-size: 20px;
    width: ;
    height: ;
    
    justify-content: center;
    margin: 100px;
    border-radius: 10px;
}
.p:hover{
background-color: aliceblue;

}
.p a{
    color: black;
}
.bo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#im{
    height: 100%;
    width: 100%;
    border-radius: 0%;
}
.bar{
    background-color: rgba(0, 0, 0, 0.26);
    height: auto;
    width: 95vh;
    
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
}
.bar img{
    height: 100px;
    width: 100px;
    border-radius: 0%;
    margin: 20px;
}
.bar a{
    text-decoration: none;
    color: black;
    font-weight: 1000;

}
.movie{
    justify-content: center;
    dsplay: flex;
    align-items: center;
}
.sel{
    background-color: rgba(0, 0, 0, 0.26);;
    margin: 4px;
    padding: 4px;
    position: relative;
    top: 5px;
    bottom:5px;
    border-radius: 10px;
    align-items: center;
    
}
.sel:hover{
    background-color: rgba(0, 0, 0, 0.26);
    height: 200px;
    width: 150px;
}

#video{
    justify-content: center;
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
}
@media(max-width:500px){
    #name{
        font-size:40px;
    }
    .sel:hover{
        height: auto;
        width: auto;
    }

}
