.head {
  height: 60px;
  width: 100%;
  background-color: #181818;

  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1;
  align-items: center;
}
.page:hover {
  color: aqua;
}

body {
  margin: 0;
  padding: 0;
  height:auto;
  background-image: linear-gradient(
    to bottom right,
    blue,
    rgb(202, 48, 42),
    rgb(0, 255, 242)
  );
  background-color: #cccccc;

  
}
#dark{
width: 40px;
height: 40px;
background-color: aliceblue;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
font-weight: 800;




}
#darkdiv{
  width: 100%;
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 4vh;
  right: 4vh;

  
}
#logo {
  border-radius: 100%;
  border: 1px solid;
  border-color: ;
  height: 45px;
  width: 45px;
  margin: 1px;
  padding: 2px;
  display: flex;
  justify-content: center;
  position: relative;
  left: 20px;
}
#logo:hover {
  border-color: aqua;
}

.head img {
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

.nav a {
  padding: 2px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  margin: 2px;
  position: relative;
  right: 20px;
}
.nav input {
  border-radius: 6px;
  box-shadow: black;
  position: relative;
  right: 30px;
  border: 1px solid;
}

@media (max-width: 590px) {
  #sear {
    width: 70px;
  }
}
.boxc {
  height: 60px;
  background-color: rgba(10, 10, 10, 0.438);
  width: auto;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 1000;
  font-family: ;
}
button {
  background-color: #524e4e00;
  border: 0;
  font-size: 20px;
}


#name {
  height: 60px;
  width: 100%;
  background-color: black;
  color: rgb(18, 253, 69);
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#pa {
  font-size: 30px;
  position: relative;
  top: 50px;
  left: 0px;
  font-weight: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p {
  background-color: #524e4e33;
  font-size: 20px;
  width: ;
  height: ;

  justify-content: center;
  margin: 100px;
  border-radius: 10px;
}
.p:hover {
  background-color: aliceblue;
}
.p a {
  color: black;
}
.bo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#im {
  height: 100%;
  width: 100%;
  border-radius: 0%;
}
.bar {
  background-color: rgba(0, 0, 0, 0.26);
  height: auto;
  width: 95vh;

  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 10vh;
}
.bar img {
  height: 100px;
  width: 100px;
  border-radius: 0%;
  margin: 20px;
}
.bar a {
  text-decoration: none;
  color: black;
  font-weight: 1000;
}
.movie {
  justify-content: center;
  display: flex;
  align-items: center;
  color: white
}
.sel {
  background-color: rgba(0, 0, 0, 0.26);
  margin: 4px;
  padding: 4px;
  position: relative;
  top: 5px;
  bottom: 5px;
  border-radius: 10px;
  align-items: center;
}
.sel:hover {
  background-color: rgba(0, 0, 0, 0.26);
  height: 200px;
  width: 150px;
}


@media (max-width: 500px) {
  #name {
    font-size: 40px;
  }
  .sel:hover {
    height: auto;
    width: auto;
  }
  body{
      height: auto;
      width: auto;
  }
}

@media (max-height: 700px) {
    .sel:hover{
        height: auto;
        width: auto;
    }
    .bar{
        width:auto;
    }
    body{
        height: auto;
        width: auto;
    }

}

.box{
  background-color: black ;
  height: 70vh;
  width:auto;
  position: relative;
  top:10vh;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 50vh;
  
 


}
.inp{
  width:80% ;
  height:30px;
  

  background-color: black;
  
  color: aliceblue;
  
  border-radius: 2px;
  border: 1px solid #555;
  
}
.inp:hover{
  border: 1px solid white;

}
.but{
  height: 30px;
  width: 80%;
  background-color: rgb(15, 102, 216);
  border-radius: 2px;
  border-color: rgba(0, 0, 0, 0);
  position: relative;
  top:20px;

}

.insta{
  color: aliceblue;
  font-size: 40px;
  position: relative;
  bottom: 30px ;
  font-family: 'Kalam', cursive;
}
table{
  position: relative;
  bottom: 50px;
}



.hr{
  background-color: aliceblue;
  
  width: 28%;
  
}
#yt{
  display: flex;
  justify-content: center;
  
  color:white ;
  height: 1px;
  position: relative;
  top:2rem;
  
  
  
  
}
#or{
  height: 0px;
  width: 0px;

}
#facebook{
  position: relative;
  top:50px;
  color: rgb(15, 102, 216); ;
}

#end{
  width: 50vh;

  position: relative;
  top:20vh;
  border-color: black;
  background-color:  rgb(240, 248, 255);

}
#last{
  color: aliceblue;
  position: relative;
  top:22vh;
}
a{
  text-decoration: none;
  color:rgb(15, 102, 216) ;
}
#or{
  color: aliceblue;

}
#iot{
  color: aliceblue;
}
span{
  color: #fff;
}
.out{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  
}
@media(max-width:600px){
  .box{
      width: 45vh;
  }
  #end{
      width: 45vh;
  }
}
@media(max-height:600px){
  .box{
      height: 100vh;
      width:auto;
      padding: 10px;
  }
  body{
      height: 130vh;
  }
  .insta{
      position: relative;
      bottom: 0px;
      font-family: 'Kalam', cursive;
  }
  #end{
      width: auto;
  }
}
